#vstar_dg_places_meta {
  label {
    display: block;
    width: 100%;
  }

  label + label {
    margin-top: 1rem;
  }

  label > * {
    display: block;
    width: 100%;
  }

  textarea {
    width: 100%;
    height: 4em;
  }
}
